/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/


/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: purple;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  height: 101%;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 1.5em;
  max-width: 50em;
  /* background: #80b7ce; */
  background: linear-gradient(0deg, white, #80b7ce 80%) fixed no-repeat;
  color: #222;
  height: 100%;
}


/* Header
-------------------------------------------------- */
.header {
  border-bottom: 2px solid purple;
  margin-bottom: 1.5em;
}
.logo {
  display: block;
  margin-bottom: 1em;
}
.logo img {
  width: 60px;
}


/* Navigation
-------------------------------------------------- */
.menu a {
  display: block;
  color: #222;
}
.menu a:hover {
  color: purple;
  text-decoration: none;
}
.menu .active {
  color: purple;
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .35em 0;
  border-top: 1px solid #ddd;
  font-weight: 600;
}

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em;
}
.submenu:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -.5em;
  left: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid #222;
}
.submenu li {
  border-bottom: 1px solid #444;
}
.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 300;
  color: #fff;
  background: #222;
  white-space: nowrap;
}
.submenu a:hover {
  background: #333;
  color: #fff;
}

@media screen and (min-width: 40em) {
  body {
    padding: 3em;
  }
  .logo {
    float: left;
  }
  .menu {
    float: right;
    margin-right: -1em;
  }
  .menu > li {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    border: 0;
  }
  .menu > li:hover .submenu {
    display: block;
  }
}


/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: .5em;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: .5em;
  color: purple;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: purple;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}



/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
  border-bottom: 2px solid purple;
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: purple;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}
.main a {
  border-bottom: 2px solid purple;
}
.main a:hover {
  border-color: #222;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: purple;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
}
.teaser li {
  margin-bottom: 1.5em;
  list-style: none;
  color: #000;
}
@media screen and (min-width: 50em) {
  .teaser li {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .teaser li:first-child {
    margin-left: 0;
  }
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 6em;
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: purple;
  padding-left: .25em;
}

/* FOSS
-------------------------------------------------- */
.donateForm {
  background-color: #80b7ce;
  padding: 7px;
  margin-bottom: 50px;
}

.donateForm select {
  margin-top: 14px;
  padding-bottom: 14px;
  padding-left: 5px;
  margin-right: 11px;
}

.donateForm input[type=radio] {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 5px;
  margin-right: 11px;
}

.donateForm input[type=email],
.donateForm input[type=number],
.donateForm input[type=text] {
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 11px;
  width: 100%;
  height: 50px;
}

#donateAddress {
  width: 100%;
}

#donateState {
  width: 100%;
}

#donateZip {
  width: 100%;
}

.donateForm select {
  font-size: 18px;
}

.donateForm input[type=submit] {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 11px;
  height: 50px;
  width: 100%;
}

@media screen and (min-width: 40em) {
  
  .donateForm {
    width: 665px;
    padding: 20px;
  }
  .donateType div {
    margin-right: 50px;
    float: left;
  }

  .donateForm input[type=text] {
    width: 300px;
  }

  #donateAddress {
    width: 616px;
  }

  #donateState {
    width: 100px;
  }

  #donateZip {
    width: 100px;
  }
  
  .donateForm input[type=submit] {
    width: 300px;
  }

  /* disable number spinners */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media screen and (min-width: 40em) {

  .leftCol {
    float: right;
    width: 50%;
    padding: 10px;
  }

  .rightCol {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .twoColContainer {
    float:left;
    width:100%;
  }
}

.doubleBorder {
    -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;

}

.center {
  display: block;
  margin: 50px auto;
}

input.formInvalid::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    red;
}
input.formInvalid:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    red;
   opacity:  1;
}
input.formInvalid::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    red;
   opacity:  1;
}
input.formInvalid:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    red;
}

