/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
  color: inherit;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: #5e1c68;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  font-family: 'Fjalla One', sans-serif;
}

body {
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 0 1.5em;
  max-width: 50em;
  background: #8b5a96;
  color: white;
  letter-spacing: 1.2px;
}


/* Header
-------------------------------------------------- */
.header {
  margin-bottom: .5em;
}
.logo {
  display: block;
  margin-bottom: .5em;
}
.logo img {
  width: 60px;
}


/* Navigation
-------------------------------------------------- */
.menu a {
  display: block;
  color: #222;
}
.menu a:hover {
  color: #5e1c68;
  text-decoration: none;
}
.menu .active {
  color: #5e1c68;
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .35em 0;
  border-top: 1px solid #ddd;
  color: inherit;
}

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em;
}
.submenu:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -.5em;
  left: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid #222;
}
.submenu li {
  border-bottom: 1px solid #444;
}
.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 300;
  color: #fff;
  background: #222;
  white-space: nowrap;
}
.submenu a:hover {
  background: #333;
  color: #fff;
}

@media screen and (min-width: 40em) {
  body {
    padding: 0 3em;
  }
  .logo {
    float: left;
  }
  .menu {
    float: right;
    margin-right: -1em;
  }
  .menu > li {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    border: 0;
  }
  .menu > li:hover .submenu {
    display: block;
  }
}


/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: .5em;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: .5em;
  color: #5e1c68;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: #5e1c68;
}
h1 a, h2 a, h3 a, h4 a {
  color: white;
  border: 0 !important;
}



/* Main
-------------------------------------------------- */
.narrow {
  padding: 0 100px 1.5em 100px;
}

.main .title h1 {
  font-size: 70px;
}

.main hr {
  margin: 0 0 2em 0;
  height: 2px;
  background: #5e1c68;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}

.main a {
  border-bottom: 2px solid #5e1c68;
}
.main a:hover {
  border-color: #222;
}

.main .title {
  float: left;
}

.puzzle {
  float: right;
  height: 200px;
}

strong {
  color: #c3c300;
  font-weight: 400;
}

.news {
  text-align: center;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

@media screen and (max-width: 50em) {
  .main {
    padding: 0;
  }

  .main .title {
    float: none;
  }

  .main img {
    display: none;
  }
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: #5e1c68;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
}
.teaser li {
  margin-bottom: 1.5em;
  list-style: none;
}
@media screen and (min-width: 50em) {
  .teaser li {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .teaser li:first-child {
    margin-left: 0;
  }
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 6em;
  font-size: .8em;
  text-align: center;
}

/* FOSS
-------------------------------------------------- */
.donateForm {
  padding: 7px 0;
  margin-bottom: 50px;
}

input.formInvalid::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    red;
}
input.formInvalid:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    red;
   opacity:  1;
}
input.formInvalid::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    red;
   opacity:  1;
}
input.formInvalid:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    red;
}

